a {
    color:hotpink;
  }
#mfw{
    width: 200px;
    border: 10px solid black;
} 
h1{
    color:#ec407a;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: auto;
    border: 10px solid black;
    background-color:darkmagenta ;
}
h2 {
    width: 60px;
    margin: auto;
    background-color:aqua;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}
